# package directories
node_modules
jspm_packages


# esbuild directories
.esbuild

# Ignore everything in the root directory
/*

# Except allow the src directory and serverless.yml
!src/
!serverless.yml
!serverless.ts
!tsconfig.json
!package.json
!package-lock.json
!tsconfig.paths.json
